<footer id="footer">
  <div class="footer">
    <div class="footer__mainSection">
      <div class="section section__left">
        <app-login></app-login>
        <div class="section section__left__info">
          <p>Рівне, вул. Словацького, 4-6</p>
          <p>
            <a class="underlineAnimation" href="/mailto:">
              support@youritfuture.com
            </a>
          </p>
        </div>
      </div>
      <div class="section section__middle">
        <app-logo></app-logo>
        <p>
          Відповідальність за достовірність наданої інформації несуть заклади
          освіти
        </p>
      </div>
      <div class="section section__right">
        <app-navigation></app-navigation>
      </div>
    </div>
    <div class="footer__copyright">
      <p>&#169; 2020-2021 SoftServe IT Academy</p>
    </div>
  </div>
</footer>
